# ##########################################
# 1. Бинарники и скомпилированные файлы
# ##########################################
# Исполняемые файлы (компилируются под разные ОС)
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.prof

# Локально скомпилированные бинарники проекта 
# (Если ты компилируешь в корень проекта, добавь конкретные имена, например: /my-go-app)
bin/
out/
dist/

# ##########################################
# 2. Логи, дампы и временные файлы
# ##########################################
*.log
*.out
*.pid
*.crash

# ##########################################
# 3. Инструменты покрытия кода и профилирования
# ##########################################
*.coverprofile
*.cpuprofile
*.memprofile

# ##########################################
# 4. Зависимости (опционально)
# ##########################################
# По умолчанию Go модули скачиваются в глобальный кэш, но если ты используешь вендоринг:
# vendor/

# ##########################################
# 5. Секреты и конфигурация 
# ##########################################
.env
.env.*
!.env.example
!.env.template
private.key
*.pem

# ##########################################
# 6. Настройки IDE и редакторов
# ##########################################
# JetBrains / GoLand
.idea/
*.iml

# VS Code
.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
*.code-workspace


./ffmpegMacos

# ##########################################
# 7. Мусор операционных систем 
# ##########################################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
